*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}
.clearfix{
    clear:both
}
.flex-container{
    display:grid;
    @media (width >= 48rem) {
        display: flex;
    }
}
#container {
    
    margin: 0px auto;
    border: 1px solid darkblue;
    /* BreakPoint para dispositivos de tamaño largo */
    @media (width >= 48rem) {
        width: 1000px;
    }
}
header{
    background-color: royalblue;
    text-align:center;
    line-height: 25px;
    color: white;
    border-bottom: 2px solid black;
    @media (width >= 40rem) {
        line-height: 50px;
    }
}
header h1{
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     @media (width <= 48rem) {
        font-size: 18px;
     }
}
nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: navy;
    border-bottom: 2px solid black;
    @media (width >= 48rem) {
        display: flex;
        justify-content: space-evenly;
    }
}
nav a{
    
    cursor:pointer;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-align: left;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px; /* Creates the "pill" shape */
    background-color: #ddd;
}
#content{
    
    background-color: lightslategrey;
    padding: 10px;
    
    @media (width >= 48rem) {
        padding: 15px;
        width: 48rem;
        order:2;
    }


}
article{
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    place-content: center;
    color:white;
    min-height: 20rem;
    @media (width >= 48rem) {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
article h2{
    color: navy;
    text-shadow: 
    -1px -1px 0 cyan,  
     1px -1px 0 cyan,
    -1px  1px 0 cyan,
     1px  1px 0 cyan;
    font-size: 30px;
    padding-bottom: 15px;
}
article p{
    text-align: justify;
    max-width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}
article pre{
    background-color: gray;
    color: white;
}
aside{
    background-color: royalblue;
    color:white;
    min-height: 50px;
    padding: 10px;
    @media (width >= 64rem) {
        padding: 15px;
        min-height: 350px;
        width: 20rem;
        order: 1;
    }
    
}
aside h2{
    background-color: navy;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
aside p{
    padding-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
aside ul{
    display: grid;
    padding-left:2rem;
    padding-right:2rem;
}
aside li{
    cursor: pointer;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-align: left;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px; /* Creates the "pill" shape */
    background-color: #ddd;
}
video{
    width: 320;
    height: 240;
    @media (width >= 48rem) {
        width: 640;
        height: 480;
    }
}
image{
    width: 320;
    height: 260;
    @media (width >= 48rem) {
        width: 640;
        height: 480;
    }
}
footer{
    background-color: black;
    color: white;
    text-align:center;
    height: 60px;
    line-height: 60px;

}